<%- include("partials/header") -%>

    <div class="about-container">
        <div class="about-flex">
            <div class="about-me">
                <p>
                    There may be some people out there asking why such an app exists? You may even recommend using other webb applications like 
                    Notion or any other productivity applications. However, although they are fantastic applications, (hell, even I use Notion)
                    this application made and designed specifically for tracking visible goals. Let me give an example, I use this application to
                    keep track of my gym training progressions. Being born skinny and trying to build muscle for a long time, keeping a record of my
                    journey and see that I have made consistent efforts towards my goals, is the reason why I developed this application. There are 
                    other use cases as well but this is one way users can use this application.
                </p>
            </div>

            <div class="about-app">
                <p>
                    Flow is a web application dedicated to keep track of a user's progression to their goals. 
                    Whether it be tracking your gym progression or a project progression, Flow will help you gauge how well you're doing
                    in reaching the finish line.
                </p>
            </div>

            <div class="more-info">
                <div class="app-showcase">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>

<%- include("partials/footer") -%>