<%- include("partials/header") -%>

    <h1>Progression Flow</h1>

    <a href="/dashboard">Dashboard</a>
    
    <a href="/login">Login</a>
    
    <a href="/signup">Signup</a> 

    <div>
        <h1>See how much progress you make every day, every week, every month</h1>

        <p>Keep track of all the work you've done</p>
    </div>

<%- include("partials/footer") -%> 