<%- include("partials/header") -%>


    <div class="title imgContainer">
        <div class="splitContent">
            <h1>Progress Forward</h1>

            <div>
                <h1>Visualize your progression; never think you didn't do enough.</h1>
        
                <p>Keep track of all the work and progress you've made.</p>
            </div>

            <div>    
                <a href="/dashboard">Dashboard</a>
            
                <a href="/login">Login</a>
                
                <a href="/signup">Signup</a> 
            </div>
        
        </div>

        <div class="splitContent">
            <img src="#" alt="progression">
        </div>
    </div>



<%- include("partials/footer") -%> 