<%- include("partials/header") -%>

<div id="homepageContainer">
    <div class="title imgContainer">
        <div class="splitContent">

            <div class="titleContent">
                <div>
                    <h1 class="gradient">Flow</h1>
                </div>

                <div class="titleSubContent">
                    <h2>Visualize and track your goals</h2>
                </div>

                <div class="linkList">    
                    <!-- <a class="space" href="/dashboard">Dashboard</a> -->
                
                    <a class="space" href="/login">Login</a>
                    
                    <a href="/signup">Signup</a> 
                </div>
            </div>
        
        </div>
    </div>

    <div class="footerSection">
        <div class="linkList pd">
            <a class="space" href="#">About</a>

            <a href="#">How it works</a>
        </div>

        <div class="copyRight">
            <p>Copyright © 2023 - All right reserved by Jaehwa a.k.a James Hwang</p>
        </div>
    <div>
</div>

<%- include("partials/footer") -%> 