<%- include("partials/header") -%> 
<main class="loginContainer">

    <div>
      <h2 class="gradient flow"><a href="/">Flow</a></h2>
    </div>
    
    <div class="loginContent">

      <section class="input">


        <div class="text">
          <h1>Sign in to get started</h1>

          <h3 class="lines">or</h3>

          <h2><a class="link" href="/signup">Create an Account</a></h2>
        </div>

        <div class="error">
          <% if (locals.messages.errors) { %> 
              <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %> 
          <% } %> 

          <% if (locals.messages.info) { %> 
              <% messages.info.forEach( el => { %>
                <div class="alert alert-info"><%= el.msg %></div>
            <% }) %> 
          <% } %>
        </div>

        <form action="/login" method="POST" class="formContainer">

          <div class="form-layout">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label>
              <br>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="email"
            />
          </div>

          <div class="form-layout">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <br>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              name="password"
            />
          </div>

          <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
      </section>
    </div>
  </main>