<%- include('partials/header') -%>
    
    <div>
      <div class="loginContent modal">    
        
        <div class="input">
        <form action="/entry/createFile" enctype="multipart/form-data" class="formContainer" method="POST">

          <div class="form-layout">
            <label for="fileUpload" class="form-label">File</label>
            <br>
            <input type="file" class="form-control" id="fileUpload" name="file">
          </div>
          
          <div class="form-layout">
              <label for="title" class="form-label">Title</label>
              <br>
              <input type="text" class="form-control" id="title" name="title">
          </div>

          <div class="form-layout">
            <label for="tag" class="form-label">Tag</label>
            <br>
            <input type="text" class="form-control" id="tag" name="tag" placeholder="ie. project, lifestyle">
          </div>

          <div class="form-layout">
            <label for="link" class="form-label">Link</label>
            <br>
            <input type="link" class="form-control" id="link" name="link" placeholder="optional">
          </div>

          <div class="form-layout">
            <label for="description" class="form-label">Description</label>
            <br>
            <textarea class="form-control description-size" id="description" name="description"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
        </form>

        </div>
      </div>
    </div>
    
    
<%- include("partials/footer") -%> 