<%- include("partials/header") -%> 

<body>
    <nav>
        <ul>
            <li>
                <a href="#">Calender</a>
            </li>
            <li>
                <a href="#">Statistics</a>
            </li>
            <li>
                <a href="/logout">Log Out</a>
            </li>
        </ul>
    </nav>
</body>