<%- include("partials/header") -%>

    <div class="howto-container">
        <div class="howto-flex">
            <div class="tutorial">

            </div>

            <div class="howto">

            </div>
        </div>

        <div class="changelog-container">
            <div class="changelog">

            </div>
        </div>
    </div>

<%- include("partials/footer") -%>