<%- include("partials/header") -%>

    <div class="howto-container">
        <div class="howto-flex">
            <div class="howto">
                <p>
                    Manage all your progression in one application!
                    <!-- Gif of uploading items -->
                    Upload and post your entry to your dashboard. Make sure when posting your entry to tag each entry properly based on your goals.
                    <!-- Gif of users dashboard -->
                    See all your entries for the current month and last month on your dashboard along with your todo list.
                    <!-- Gif of navbar and what each element does -->
                    See how often you upload or add new todo's on your todo list
                    <!-- Gif of calender page -->
                    If the dashboard is too cluttered, you can view your entries on a calender view. See on what days you posted and what the post was.
                </p>
            </div>
        </div>

        <div class="changelog-container">
            <div class="changelog">
                <h2>Change Log</h2>
                    
                <!-- Unordered List of various updates. -->
                <ul>

                </ul>
            </div>
        </div>
    </div>

<%- include("partials/footer") -%>