body{
    font-size: 62.5%;
    margin: 0;

}

/* container */
.container{
    display: flex;
    flex-direction: row;
}

/* navigation bar */
.sidebar{
    height:100vh;
    background-color: gray;
}
.flex-nav{
    display: flex;
    flex-direction: column;
}
.navi{
    font-size: 1.5rem;
}

.list{
    list-style: none;
    padding: 0 20px;
}
.list > li > a{
    text-decoration: none;
    font-size: .8em;
}

/* dashboard */
.dashboard{
    padding: 1% 2% 0 2%;
    width: 100%;
}

.box{
    height: 85%;
}


.works, .pastWorks{
    height: 50%;
    background-color: whitesmoke;
    border-radius: 5px;
}

.add{
    position: relative;
    padding: 8px 15px;
    border: 1.8px solid rgb(67, 67, 255);
    border-radius: 5px;
    z-index: 1;
    left: 95%;
    bottom: 85%;
}

.add > h1{
    margin: 0;
}

.viewMore{
    text-decoration: none;
    font-size: 1.5em;
}


/* image sizing */

.image{
    width: 20%;
}

